<turbo-frame id="{{ frame }}">
  <table class="table table-hover">
    <thead>
      <tr>
        <th># Total: {{ paginator.count }}</th>
        <th>Name</th>
        <th>Branch</th>
        <th>Position</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ counter_base|add:forloop.counter }}</td>
          <td><a href="{% url 'employees:turbo:detail' pk=object.pk %}" data-turbo-frame="_top">{{ object.name }}</a></td>
          <td><a href="{% url 'branches:turbo:detail' pk=object.branch_id %}" data-turbo-frame="_top">{{ object.branch.name }}</a></td>
          <td>{{ object.position }}</td>
        </tr>
      {% empty %}
        <td colspan="4">There's no one here</td>
      {% endfor %}
    </tbody>
  </table>
  {% include "_pagination.html" with frame=frame url=url %}
</turbo-frame>
