{% extends "base_turbo.html" %}

{% block content %}
  <div class="row mb-4">
    <div class="col-3">
      <img class="img-fluid" src="https://static.dezeen.com/uploads/2019/03/t3-bayside-3xn-news-architecture-office-building-toronto-canada_dezeen_2364_sq-300x300.jpg" />
    </div>
    <div class="col">
      <h1>{{ object.name }}</h1>
      <p>{{ object.facade }}</p>
      <p>Total Employees: {{ object.employees_count }}</p>
      <p>Location: {{ object.location }}</p>
    </div>
  </div>
  <h3>Employees list</h3>
  <div class="row">
    <div class="col">
      <turbo-frame
        id="{{ frame }}"
        src="{{ frame_src }}"
        loading="lazy">
        {% include "_loader.html"%}
      </turbo-frame>
    </div>
  </div>
{% endblock %}
