{% extends 'django_bootstrap5/bootstrap5.html' %}

{% load django_bootstrap5 static %}

{% block bootstrap5_title %}Demo{% endblock %}

{% block bootstrap5_extra_head %}

  <link rel="stylesheet" href="{% static 'styles.css' %}">

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'branches:classic:list' %}" data-turbo="false">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'employees:classic:list' %}" data-turbo="false">Employees</a>
          </li>
        </ul>
        <div class="d-flex">
          <ul class="navbar-nav me-2">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'branches:turbo:list' %}">Turbo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'api:v1:schema-redoc' %}">API</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
 {% endblock %}


{% block bootstrap5_before_content %}{% endblock %}

{% block bootstrap5_content %}
<div class="container py-4">
    {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
    {% block content %}(no content){% endblock %}
</div>

{% block bootstrap5_after_content %}{% endblock %}

{% block bootstrap5_extra_script %}{% endblock %}

{% endblock %}